@page
@model TNS_AGR.Areas.ProductionUnitCode.Pages.SubmenuModel
@{
}
<div style="width:100%; margin:-20px 0 0 -20px">
    <div style="padding:5px; font-weight:bold; font-size:13px">
        <a href="~/Index" style="text-decoration:none; color:#4c4c4c">Home</a>
        <span class="uil-angle-double-right"></span>
        <a href="#" style="text-decoration:none; color:#4c4c4c">Bản đồ mùa vụ</a>
        <span class="uil-angle-double-right"></span>
        <span style="color:maroon">Cây Thanh Long </span>
    </div>
</div>

<br />


